[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pycountry = "*"
rsa = "*"
requests = "*"
pycryptodome = "*"


[dev-packages]

coverage = "*"
sphinx = "*"
sphinx-autobuild = "*"
tox = "*"
twine = "*"
bumpversion = "*"


[requires]

python_version = "3.6"
