[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "==19.8.18"
rsa = "*"
requests = "==2.22.0"
pycryptodome = "==3.9.2"

[dev-packages]
coverage = "*"
Sphinx = "*"
sphinx-autobuild = "*"
tox = "*"
twine = "*"
bumpversion = "*"
PyYAML = "==5.1"

[requires]
python_version = "3.6"
