[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pycountry = "==18.12.8"
rsa = "*"
requests = "==2.21.0"
pycryptodome = "==3.7.2"


[dev-packages]

coverage = "*"
Sphinx = "*"
sphinx-autobuild = "*"
tox = "*"
twine = "*"
bumpversion = "*"
pyyaml = "==4.2b1"


[requires]

python_version = "3.6"
